.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 160px);
  background-color: #DAD5D1;

  .about-head-container {
    position: absolute;
    top: 0;
    
    width: 100%;
    height: 50px;

    .about-head-container,
    h1 {
      color:#223A5C ;
      border-bottom: 3px solid #0E2038;
    }
  }

  .about-card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #E3E4E6;
    width: 100%;
    height: 100%;
    background-color: #DAD5D1;
  }
}
